@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }
  
  @import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');
  
  :target {
    scroll-margin-top: 50px; /* navbar 높이 만큼 */
  }
  

  body {
    margin: 0;
    padding: 0;
  }

  .btn-primary {
    background-color: #074C17;
    border-color: #074C17;
  }
  
  .btn-primary:hover {
    background-color: #066017;
    border-color: #066017;
  }
  
  /* Home Section */
  #home {
    position: relative;
    overflow: hidden;
  }
  
  #home .carousel-item {
    /* height: 100vh; */
  }
  
  #home img {
    height: 100%;
    object-fit: cover;
  }
  
  .hero-caption {
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 10;
    width: 50%;
    /* height: 50%; */
    color: white;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    padding: 1.25rem;
    border-radius: 1.25rem;
  }
  
  .hero-caption h2 {
    font-family: 'BMDOHYEON';
    text-align: center;
    margin-top: 5%;
    font-size: 5rem;
    margin-bottom: 0.625rem;
  }
  
  .hero-caption p {
    text-align: left;
    padding-left: 1rem; /* 기존 10% 대신 1rem 사용 */
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  
  .hero-caption .btn {
    /* position: absolute; */
    position: relative;
    font-size: 2rem;
    padding: 0.625rem 1.25rem;
    float: right;
    margin-top: 5%;
    /* margin-right: 2%;
    margin-bottom: 2%; */
  }
  
  /* Menu Section */
  #menu {
    background-color: #222831;
    /* padding: 3rem 0; */
    color: white;
  }
  
  #menu h2 {
    font-family: 'BMDOHYEON';
    text-align: center;
    margin: 3rem auto;
    font-size: 4rem;
  }
  
  .menu-img {
    object-fit: cover;
    border-radius: 30%;
  }
  
  .menu-item h4 {
    font-size: 2rem;
    margin-top: 3rem;
  }
  
  /* Startup Cost Chart */
  #startup-cost-chart {
    background-color: #ECDFD5;
    padding: 3rem 0;
    color: black;
  }
  
  #startup-cost-chart h2 {
    font-family: 'BMDOHYEON';
    font-size: 4rem;
    margin-top: 3rem;
  }
  
  #startup-cost-chart table {
    width: 100%;
    border-collapse: collapse;
  }
  
  #startup-cost-chart th, 
  #startup-cost-chart td {
    border: 1px solid #222831;
    padding: 1.25rem 0.625rem;
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  #startup-cost-chart tbody td p {
    display: inline;
  }
  
  .cost {
    text-decoration: line-through;
    text-decoration-color: red;
  }
  
  .cost-note {
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFAE0D;
  }
  
  .cost-info {
    font-size: 3rem;
    font-weight: bold;
    color: #222831;
  }
  
  /* Branch Info */
  #branch-info {
    background-color: #222831;
    color: white;
  }
  
  #branch-info h2 {
    font-family: 'BMDOHYEON';
    text-align: center;
    margin: 3rem auto;
    font-size: 4rem;
  }
  
  /* Startup Inquiry */
  #startup-inquiry {
    background-color: #ECDFD5;
    color: black;
  }
  
  #startup-inquiry h2 {
    font-family: 'BMDOHYEON';
    font-size: 4rem;
    margin-top: 3rem;
  }
  
  /* Footer */
  footer {
    background-color: #222831;
    color: white;
    padding-bottom: 0;
  }
  