@font-face {
    font-family: 'BMDOHYEON';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/BMDOHYEON.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@import url('https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css');

body {
    margin: 0;
    padding: 0;
}

/* home start */
#home {
    position: relative;
    height: 95vh;
    overflow: hidden;
}

#home .carousel-item {
    height: 100vh;
}

#home img {
    height: 100%;
    object-fit: cover;
}

.hero-caption {
    position: absolute;
    top: 25%;
    left: 25%;
    z-index: 10;
    width: 50%;
    height: 50%;
    color: white;
    text-align: left;
    background: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 20px;
}

.hero-caption h2 {
    font-family: 'BMDOHYEON';
    text-align: center;
    margin-top: 5%;
    font-size: 5rem;
    margin-bottom: 10px;
}

.hero-caption p {
    /* font-family: 'NanumSquare', sans-serif; */
    text-align: left;
    padding-left: 10%;
    font-size: 2rem;
    margin-bottom: 15px;
}

.hero-caption .btn {
    position: absolute;
    font-size: 2rem;
    padding: 10px 20px;
    right: 3%;
    bottom: 3%;
}

#home .btn-primary {
    background-color: #074C17;
    border-color: #074C17;
}

#home .btn-primary:hover {
    background-color: #066017; /* 호버 시 조금 더 밝은 색상 */
    border-color: #066017;
}
/* home end */

/* menu start */
#menu {
    height: 95vh;
    background-color: #222831;
    padding: 50px 0;
    color: white;
}

#menu h2 {
    font-family: 'BMDOHYEON';
    text-align: center;
    margin: 10%;
    font-size: 4rem;
}

.menu-img {
    object-fit: cover;
    border-radius: 30%;
}

.menu-item h4 {
    font-size: 2rem;
    margin-top: 50px;

}
/* menu end */

/* cost chart start */
#startup-cost-chart{
    background-color: #ECDFD5;
    padding: 50px 0;
    color: black;
    height: 95vh;
}

#startup-cost-chart h2 {
    font-family: 'BMDOHYEON';
    font-size: 5rem;
    margin-top: 5%;
    margin-bottom: 20px;
}

#startup-cost-chart table {
    width: 100%;
    border-collapse: collapse;
}

#startup-cost-chart th, #startup-cost-chart td {
    border: 1px solid #222831;
    padding: 10px;
}

#startup-cost-chart tbody td p {
    display: inline;
}

.cost{
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: line-through;
    text-decoration-color: red;
}

.cost-note{
    font-size: 1.8rem;
    font-weight: bold;
    color: #FFAE0D;
}
/* cost chart end */

/* branch info start */
#branch-info {
    background-color: #222831;
    color: white;
    height: 95vh;
}

#branch-info h2 {
    font-family: 'BMDOHYEON';
    text-align: center;
    margin: 10%;
    font-size: 4rem;
}
/* branch info end */

/* inquiry start */
#startup-inquiry {
    background-color: #ECDFD5;
    color: black;
}

#startup-inquiry .btn-primary {
    background-color: #074C17;
    border-color: #074C17;
}

#startup-inquiry .btn-primary:hover {
    background-color: #066017; /* 호버 시 조금 더 밝은 색상 */
    border-color: #066017;
}
/* inquiry end */

/* .privacy-consent{
    height: 300px;
    border: 1px solid #222831;
    background-color: white;
    overflow: auto;
} */



footer{
    background-color: #222831;
    color: white;
    padding-bottom: 0;
}